* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 99.99%;
 }

body {
    font-family: "Roboto", sans-serif;
} 

 
h1::selection {
    background: yellow;
    color: black;
}

p::selection {
    background: yellow;
    color: black;
}

a::selection {
    background: yellow;
    color: black;
}


h2::selection {
    background: yellow;
    color: black;
}

h3::selection {
    background: yellow;
    color: black;
}

.ramen-slika {   
    width: 570px;
    height: 570px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.text {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.nav-items {
    display: flex;
    padding: 30px;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    margin-top: 10px;
}

.nav-content {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.priprema {
    margin-bottom: 10px;
    margin-top: -60px;
}


.p-priprema {
    font-size: 20px;
}



